@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

/* Variables
*************************************************/
$title-color: #3675db;

/* Mixins 
*************************************************/


/*****************************************************************/
/* eXtra Small devices XS (phones, less than 768px)              */
/* No media query since this is the default in Bootstrap         */
/*****************************************************************/
.navbar-brand:after {
  content:"XS";
  margin-left: 10px;
  padding: 2px 5px;
  background: purple;
  color: white;
}

/* Bootstrap Overrides
*************************************************/
.navbar {
  margin-bottom: 0;
}

/* Home Style 
*************************************************/
.movie-item {
  a {
    div {
      color: $title-color; 
      text-align: center;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  @include transition(all 1s ease-in-out);
  position: relative;
  display: block;

  &.ng-enter.ng-enter-active, 
  &.ng-leave {
      opacity: 1;
      @include transform(translateX(0px));
  }
    
  &.ng-leave.ng-leave-active,
  &.ng-enter {
      opacity: 0;
      @include transform(translateX(-2000px));
  }

  &.ng-enter-stagger,&.ng-leave-stagger {
    @include transition-delay(0.1s);
    @include transition-duration(0s);
  }
}


/* Page Movie Style 
*************************************************/
.page-movie-header {
  width: 100%;
  height: 100px;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
}

/* Page Parameters Style
***************************************************/
div h2{
display:block;
background-color: rgba(0, 0, 0, 0.5);
}

 fieldset legend{
 	font-weight: bold;
 }

 #password, #mail{
 	border:2px black solid;
 	border-radius: 10px;
	 	.submit{
	 	border-radius: 10px;
	 	color:white;
	 	background-color: rgba(0, 0, 0, 0.3);
	 }

 }




/*****************************************************************/
/* SMall devices SM (tablets, 768px and up)                      */
/*****************************************************************/
@media screen and (min-width: 768px) {
  .navbar-brand:after {
    content:"SM";
    margin-left: 10px;
    padding: 2px 5px;
    background: red;
    color: white;
  }
}

/*****************************************************************/
/* MeDium devices MD (desktops, 992px and up)                    */
/*****************************************************************/
@media screen and (min-width: 992px) {
  .navbar-brand:after {
    content:"MD";
    margin-left: 10px;
    padding: 2px 5px;
    background: orange;
    color: white;
  }
}

/*****************************************************************/
/* LarGe devices LG (large desktops, 1200px and up)              */
/*****************************************************************/
@media screen and (min-width: 1200px) {
  .navbar-brand:after {
    content:"LG";
    margin-left: 10px;
    padding: 2px 5px;
    background: yellow;
    color: black;
  }
}