@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

/* Variables & Custom Classes
*************************************************/
$title-color: #3675db;
$color-gray-lightest: #EEE;
$color-gray-lighter: #CCC;
$color-gray-light: #AAA;
$color-gray-medium: #888;
$color-gray-dark: #666;
$color-gray-darker: #444;
$color-gray-darkest: #222;

$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$h6: 12px;


.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

/* Mixins 
*************************************************/
@mixin flex-center($p){ //h > horizontal | v > vertical | b > both
    display: flex;
    flex-direction: row;
    @if $p == h or $p == b {
      justify-content: center;
    }
    @if $p == v or $p == b {
      align-items: center;
    }
}


/*****************************************************************/
/* eXtra Small devices XS (phones, less than 768px)              */
/* No media query since this is the default in Bootstrap         */
/*****************************************************************/
.navbar-brand:after {
  content:"XS";
  margin-left: 10px;
  padding: 2px 5px;
  background: purple;
  color: white;
}

/* Bootstrap Overrides
*************************************************/
.navbar {
  margin-bottom: 0;
}

/* Home Style 
*************************************************/
.movie-item {
  a {
    div {
      color: $title-color; 
      text-align: center;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  @include transition(all 1s ease-in-out);
  position: relative;
  display: block;

  &.ng-enter.ng-enter-active, 
  &.ng-leave {
      opacity: 1;
      @include transform(translateX(0px));
  }
    
  &.ng-leave.ng-leave-active,
  &.ng-enter {
      opacity: 0;
      @include transform(translateX(-2000px));
  }

  &.ng-enter-stagger,&.ng-leave-stagger {
    @include transition-delay(0.1s);
    @include transition-duration(0s);
  }
}


/* Page Movie Style 
*************************************************/
.page-movie-header {
  display:inline-block;  
  width: 100%;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
  &--titles {
    margin: 36px 10px 64px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3rem black;
  }
}

.page-movie {
  &--top {
    padding-top: 12px;
  }
  &--poster {
    position: relative;
    display: inline-block;
    float: left;
    height: 240px;
    //width: 192px;
    //margin-top: -24px;
    margin-top: -36px;
    border: solid 4px white;
    & > img {
      height: 100%;
    }
    & > #poster-movie--ba-player {
      position: absolute;
      bottom: 10px;
      left: 10px;
      height: 36px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &--essentials {
    display: inline-block;
    width: calc(100% - 163px);
    padding: 0 15px;
    & > p {
      margin-bottom: 6px;
      word-wrap:break-word;
      & > span:not(:last-child):after {
        content:", ";
      }
    }
  }
}

.page-movie--notes {
  @include flex-center(b);
  width: 100;
  text-align: center;
  &-moyenne {
    font-size: $h1;
  }
  &-source {
    padding-left: 4px;
    padding-right: 4px;
    &-bloc {
      background-color: $color-gray-lighter;
      &--name {
        @include flex-center(b);
        background-color: $color-gray-light;
        padding: 4px;
        min-height: 42px;
        font-size: $h6;
      }
      &--note {
        padding: 6px;
        font-size: $h4;
      }
    }
  }  
}

.page-movie--descri {
  &-text {
    border: solid 2px $color-gray-lighter;
    padding: 10px;
  }
  &-sources {
    display: flex;
    flex-direction: row;
  }
  &-source {
    flex: 1;
    @include flex-center(b);
    padding: 4px;
    text-align: center;
    font-size: $h6;
    background-color: $color-gray-lighter;
    &:hover {
      cursor: pointer;
      background-color: $color-gray-light;
    }
    &-param {
      @include flex-center(b);
      padding: 10px;
      & > img {
        height: 24px;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
  }
}

.page-movie--casting {
  text-align: center;
  overflow: none;
  &-actors {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 6px;
    overflow-x: scroll;
    &-container {
      width: 400%;
    }
    &--bloc {
      display: inline-block;
      float: left;
      padding: 0 8px;
      &-photo {
        width: 135px;
      }
    }
  }
}

.page-movie--reviews {
  &-most {
    @include flex-center(v);
    & > img {
      height: 20px;
      margin-right: 8px;
    }
  }
  &-bloc {
    border: solid 2px $color-gray-lighter;
    padding: 6px 10px 10px;
  }
  &-details {
    @include flex-center(v);
    &--photo {
      height: 30px;
    }
    &--texts {
      flex:1;
      padding: 6px;
    }
    &--source {
      font-size: $h6;
    }
  }
}

.page-movie--trivias {
  &--source {
    font-size: $h6;
  }
}

.page-movie--bloc-header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  padding: 4px 0;
  text-align: center;
  font-size: $h3;
  color: black;
  background-color: $color-gray-dark;
}
.page-movie--bloc-param {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 24px;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}



/* Page Parameters Style
***************************************************/
div h2{
display:block;
background-color: rgba(0, 0, 0, 0.5);
}

 fieldset legend{
 	font-weight: bold;
 }

 #password, #mail{
 	border:2px black solid;
 	border-radius: 10px;
	 	.submit{
	 	border-radius: 10px;
	 	color:white;
	 	background-color: rgba(0, 0, 0, 0.3);
	 }

 }




/*****************************************************************/
/* SMall devices SM (tablets, 768px and up)                      */
/*****************************************************************/
@media screen and (min-width: 768px) {
  .navbar-brand:after {
    content:"SM";
    margin-left: 10px;
    padding: 2px 5px;
    background: red;
    color: white;
  }
}

/*****************************************************************/
/* MeDium devices MD (desktops, 992px and up)                    */
/*****************************************************************/
@media screen and (min-width: 992px) {
  .navbar-brand:after {
    content:"MD";
    margin-left: 10px;
    padding: 2px 5px;
    background: orange;
    color: white;
  }
}

/*****************************************************************/
/* LarGe devices LG (large desktops, 1200px and up)              */
/*****************************************************************/
@media screen and (min-width: 1200px) {
  .navbar-brand:after {
    content:"LG";
    margin-left: 10px;
    padding: 2px 5px;
    background: yellow;
    color: black;
  }
}