@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

/* Variables & Custom Classes
*************************************************/
$title-color: #3675db;
$color-gray-lightest: #EEE;
$color-gray-lighter: #CCC;
$color-gray-light: #AAA;
$color-gray-medium: #888;
$color-gray-dark: #666;
$color-gray-darker: #444;
$color-gray-darkest: #222;

$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$h6: 12px;


.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

/* Mixins 
*************************************************/
@mixin flex-center($p){ //h > horizontal | v > vertical | b > both
    display: flex;
    flex-direction: row;
    @if $p == h or $p == b {
      justify-content: center;
    }
    @if $p == v or $p == b {
      align-items: center;
    }
}


/*****************************************************************/
/* eXtra Small devices XS (phones, less than 768px)              */
/* No media query since this is the default in Bootstrap         */
/*****************************************************************/
.navbar-logo:after {
  content:"XS";
  margin-left: 10px;
  padding: 2px 5px;
  background: purple;
  color: white;
}

/* Bootstrap Overrides
*************************************************/
.navbar {
  margin-bottom: 0;
  & > .container {
    @include flex-center(v);
  }
  &-header-long {
    flex: 1;
  }
  &-param {
    float: right;
    & > img {
      height: 24px;
    }
  }
  &-search-input {
    &-text {
      display: inline-block;
      width: calc(100% - 45px);
      height: 24px;
    }
    &-container {
      width: 150px;
      opacity: 0;
      transition: width 0.4s, 0.2s opacity 0.2s;
      &.container-visible {
        width: calc(100% - 120px);
        opacity: 1;
        transition: width 0.4s, opacity 0.2s;
      }
    }
    &-valid {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

#navbar-search-btn {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

/* Home Style 
*************************************************/
div h2{
display:block;
background-color: rgba(0, 0, 0, 0.5);
text-align: center;
}

.movie-item {
  a {
    div {
      color: $title-color; 
      text-align: center;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  @include transition(all 1s ease-in-out);
  position: relative;
  display: block;

  &.ng-enter.ng-enter-active, 
  &.ng-leave {
      opacity: 1;
      @include transform(translateX(0px));
  }
    
  &.ng-leave.ng-leave-active,
  &.ng-enter {
      opacity: 0;
      @include transform(translateX(-2000px));
  }

  &.ng-enter-stagger,&.ng-leave-stagger {
    @include transition-delay(0.1s);
    @include transition-duration(0s);
  }
}


/* Page Movie Style 
*************************************************/
.page-movie-header {
  display:inline-block;  
  width: 100%;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
  &--titles {
    margin: 36px 10px 64px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3rem black;
  }
}

.page-movie {
  &--top {
    padding-top: 12px;
    margin-bottom: 18px;
  }
  &--poster {
    position: relative;
    display: inline-block;
    float: left;
    height: 240px;
    margin-top: -36px;
    border: solid 4px white;
    & > img {
      height: 100%;
    }
    & > #poster-movie--ba-player {
      position: absolute;
      bottom: 10px;
      left: 10px;
      height: 36px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &--essentials {
    display: inline-block;
    width: calc(100% - 163px);
    padding: 0 15px;
    & > p {
      margin-bottom: 6px;
      word-wrap:break-word;
      & > span:not(:last-child):after {
        content:", ";
      }
    }
  }
}

.page-movie--notes {
  @include flex-center(b);
  margin-bottom: 24px;
  text-align: center;
  &-moyenne {
    font-size: $h1;
  }
  &-source {
    padding-left: 4px;
    padding-right: 4px;
    &-bloc {
      background-color: $color-gray-lighter;
      &--name {
        @include flex-center(b);
        background-color: $color-gray-light;
        padding: 4px;
        min-height: 42px;
        font-size: $h6;
      }
      &--note {
        padding: 6px;
        font-size: $h4;
      }
    }
  }  
}

.page-movie--descri {
  margin-bottom: 26px;
  &-text {
    border: solid 2px $color-gray-lighter;
    padding: 10px;
  }
  &-sources {
    display: flex;
    flex-direction: row;
  }
  &-source {
    flex: 1;
    @include flex-center(b);
    padding: 4px;
    text-align: center;
    font-size: $h6;
    background-color: $color-gray-lighter;
    &:hover {
      cursor: pointer;
      background-color: $color-gray-light;
    }
    &-param {
      @include flex-center(b);
      padding: 4px 10px;
      & > img {
        height: 24px;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
  }
}

.page-movie--casting {
  //margin-bottom: 26px;
  text-align: center;
  &-header {
    margin-bottom: 14px;
  }
  &-actors {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 16px;
    padding: 0 6px;
    overflow-x: scroll;
    &-container {
      width: 400%;
    }
    &--bloc {
      display: inline-block;
      float: left;
      padding: 0 8px;
      &-photo {
        width: 135px;
        margin-bottom: 4px;
      }
    }
  }
}

.page-movie--reviews {
  //margin-bottom: 8px;
  &-header {
    margin-bottom: 18px;
  }
  &-most {
    @include flex-center(v);
    margin-bottom: 10px;
    font-size: $h4;
    & > img {
      height: 20px;
      margin-right: 10px;
    }
  }
  &-container {
    margin-bottom: 18px;
  }
  &-bloc {
    border: solid 2px $color-gray-lighter;
    padding: 6px 10px 10px;
  }
  &-details {
    @include flex-center(v);
    margin-top: 6px;
    &--photo {
      height: 30px;
    }
    &--texts {
      flex:1;
      padding: 6px;
    }
    &--source {
      font-size: $h6;
    }
  }
  &-more {
    margin-top: -2px;
  }
}

.page-movie--trivias {
  //margin-bottom: 2px;
  &-header {
    margin-bottom: 22px;
  }
  &-container {
    margin-bottom: 24px;
  }
  &--source {
    margin-top: 6px;
    font-size: $h6;
  }
  &-more {
    margin-top: -8px;
  }
}

.page-movie--medias {
  margin-bottom: 26px;
  &-header {
    margin-bottom: 16px;
  }
  &-img {
    padding: 2px;
    > img {
      width: 100%;
      &:hover {
        cursor: pointer;
        filter: contrast(75%) grayscale(100%);
      }
    }
  }
}

.page-movie--bloc-header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  padding: 4px 0;
  text-align: center;
  font-size: $h3;
  color: black;
  background-color: $color-gray-dark;
}
.page-movie--bloc-param {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 24px;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.page-movie--bloc-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}


/* Page Casting Style
***************************************************/
.page-casting-header {
  position: relative;
  margin-bottom: 5px;
  padding: 8px 0;
  text-align: center;
  font-size: $h2;
  color: black;
  background-color: $color-gray-dark;
  &-param {
    position: absolute;
    top: 50%;
    right: 16px;
    height: 30px;
    transform: translateY(-50%);
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

.page-casting-list {
  margin-bottom: 10px;
  &-title {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: solid 1px $color-gray-lighter;
  }
  &-row {
    @include flex-center(v);
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: solid 1px $color-gray-lighter;
    border-bottom: solid 1px $color-gray-lighter;
    &--photo {
      height: 45px;
      margin-right: 15px;
      & > img {
        height: 100%;
      }
    }
    &--role {
      margin-right: 15px;
    }
    &--name {
      flex: 1;
    }
    &--source {
      font-size: $h6;
    }
    &:last-child {
      border-bottom: solid 2px $color-gray-lighter;
    }
  }
}


/* Page Parameters Style
***************************************************/
div h2{
display:block;
background-color: rgba(0, 0, 0, 0.5);
}

 fieldset legend{
 	font-weight: bold;
 }

 #password, #mail{
 	border:2px black solid;
 	border-radius: 10px;
	 	& .submit{
	 	border-radius: 10px;
	 	color:white;
	 	background-color: rgba(0, 0, 0, 0.3);
	 }

 }

 /* Page Home Loggé Style
***************************************************/
.page-home-logged--movie--bloc{
  &-link {
    padding: 5px;
    text-align: center;
  } 
  &-photo {
    height: 210px;
    max-width: 100%;
  }
}


/* Accueil Non loggé Style
*******************************************************/
.wrapper {
  background-image:url("../images/mozaique.jpg");
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 15vh;
} 

.preview{
  height: 47vh;
  background-color: $color-gray-dark;
  margin-top: 4%;
  margin-bottom: 2%;
  border: solid white 1px;
  position:relative;
  & > p {
  background-color: white;
  opacity: 0.8;
  padding-left: 5%;
  position: absolute;
  bottom:0;
  left:0;
  }
}

.logging{
  margin-top: 45vh;
  margin-bottom: 10vh;
  & > button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.logging_bot{
  display : none;
}


/*****************************************************************/
/* SMall devices SM (tablets, 768px and up)                      */
/*****************************************************************/
@media screen and (min-width: 768px) {
  .navbar-logo:after {
    content:"SM";
    margin-left: 10px;
    padding: 2px 5px;
    background: red;
    color: white;
  }

  .logging{
  margin-top: 70vh;
  margin-bottom: 10vh;
  }
}

/*****************************************************************/
/* MeDium devices MD (desktops, 992px and up)                    */
/*****************************************************************/
@media screen and (min-width: 992px) {
  .navbar-logo:after {
    content:"MD";
    margin-left: 10px;
    padding: 2px 5px;
    background: orange;
    color: white;
  }

  .page-movie--notes {
    &-source-bloc--name {
      min-height: 30px;
    }
  }

  .page-movie--reviews-most {
    justify-content: center;
  }
  .page-movie--reviews-container,
  .page-movie--trivias-container {
    padding-left: 7px;
    padding-right: 7px;
  }

  .logging_bot{
    display: block;
    margin-top: 7vh;
  }

  .page-home-logged--movie--bloc-photo {
    height: 310px;
  }
}

/*****************************************************************/
/* LarGe devices LG (large desktops, 1200px and up)              */
/*****************************************************************/
@media screen and (min-width: 1200px) {
  .navbar-logo:after {
    content:"LG";
    margin-left: 10px;
    padding: 2px 5px;
    background: yellow;
    color: black;
  }

  .page-movie--casting-actors {
    margin-bottom: 6px;
    overflow-x: auto;
    &-container {
      width: 100%;
    }
    &--bloc {
      float: initial;
      margin-bottom: 10px;
    }
  }

  .page-movie--notes {
    display: block;
    &-moyenne {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .page-home-logged--movie--bloc-photo {
    height: 250px;
  }
}