/* Variables & Custom Classes
*************************************************/
.no-gutters {
  padding-right: 0;
  padding-left: 0; }

/* Mixins 
*************************************************/
/*****************************************************************/
/* eXtra Small devices XS (phones, less than 768px)              */
/* No media query since this is the default in Bootstrap         */
/*****************************************************************/
.navbar-brand:after {
  content: "XS";
  margin-left: 10px;
  padding: 2px 5px;
  background: purple;
  color: white; }

/* Bootstrap Overrides
*************************************************/
.navbar {
  margin-bottom: 0; }

/* Home Style 
*************************************************/
div h2 {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center; }

.movie-item {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
  display: block; }
  .movie-item a div {
    color: #3675db;
    text-align: center;
    padding: 10px;
    font-size: 1.2em; }
  .movie-item.ng-enter.ng-enter-active, .movie-item.ng-leave {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  .movie-item.ng-leave.ng-leave-active, .movie-item.ng-enter {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  .movie-item.ng-enter-stagger, .movie-item.ng-leave-stagger {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s; }

/* Page Movie Style 
*************************************************/
.page-movie-header {
  display: inline-block;
  width: 100%;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover; }
  .page-movie-header--titles {
    margin: 36px 10px 64px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3rem black; }

.page-movie--top {
  padding-top: 12px;
  margin-bottom: 18px; }

.page-movie--poster {
  position: relative;
  display: inline-block;
  float: left;
  height: 240px;
  margin-top: -36px;
  border: solid 4px white; }
  .page-movie--poster > img {
    height: 100%; }
  .page-movie--poster > #poster-movie--ba-player {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 36px; }
    .page-movie--poster > #poster-movie--ba-player:hover {
      cursor: pointer; }

.page-movie--essentials {
  display: inline-block;
  width: calc(100% - 163px);
  padding: 0 15px; }
  .page-movie--essentials > p {
    margin-bottom: 6px;
    word-wrap: break-word; }
    .page-movie--essentials > p > span:not(:last-child):after {
      content: ", "; }

.page-movie--notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  text-align: center; }
  .page-movie--notes-moyenne {
    font-size: 36px; }
  .page-movie--notes-source {
    padding-left: 4px;
    padding-right: 4px; }
    .page-movie--notes-source-bloc {
      background-color: #CCC; }
      .page-movie--notes-source-bloc--name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #AAA;
        padding: 4px;
        min-height: 42px;
        font-size: 12px; }
      .page-movie--notes-source-bloc--note {
        padding: 6px;
        font-size: 18px; }

.page-movie--descri {
  margin-bottom: 26px; }
  .page-movie--descri-text {
    border: solid 2px #CCC;
    padding: 10px; }
  .page-movie--descri-sources {
    display: flex;
    flex-direction: row; }
  .page-movie--descri-source {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    background-color: #CCC; }
    .page-movie--descri-source:hover {
      cursor: pointer;
      background-color: #AAA; }
    .page-movie--descri-source-param {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 10px; }
      .page-movie--descri-source-param > img {
        height: 24px; }
        .page-movie--descri-source-param > img:hover {
          cursor: pointer;
          opacity: 0.6; }

.page-movie--casting {
  text-align: center; }
  .page-movie--casting-header {
    margin-bottom: 14px; }
  .page-movie--casting-actors {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 16px;
    padding: 0 6px;
    overflow-x: scroll; }
    .page-movie--casting-actors-container {
      width: 400%; }
    .page-movie--casting-actors--bloc {
      display: inline-block;
      float: left;
      padding: 0 8px; }
      .page-movie--casting-actors--bloc-photo {
        width: 135px;
        margin-bottom: 4px; }

.page-movie--reviews-header {
  margin-bottom: 18px; }

.page-movie--reviews-most {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px; }
  .page-movie--reviews-most > img {
    height: 20px;
    margin-right: 10px; }

.page-movie--reviews-container {
  margin-bottom: 18px; }

.page-movie--reviews-bloc {
  border: solid 2px #CCC;
  padding: 6px 10px 10px; }

.page-movie--reviews-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px; }
  .page-movie--reviews-details--photo {
    height: 30px; }
  .page-movie--reviews-details--texts {
    flex: 1;
    padding: 6px; }
  .page-movie--reviews-details--source {
    font-size: 12px; }

.page-movie--reviews-more {
  margin-top: -2px; }

.page-movie--trivias-header {
  margin-bottom: 22px; }

.page-movie--trivias-container {
  margin-bottom: 24px; }

.page-movie--trivias--source {
  margin-top: 6px;
  font-size: 12px; }

.page-movie--trivias-more {
  margin-top: -8px; }

.page-movie--medias {
  margin-bottom: 26px; }
  .page-movie--medias-header {
    margin-bottom: 16px; }
  .page-movie--medias-img {
    padding: 2px; }
    .page-movie--medias-img > img {
      width: 100%; }
      .page-movie--medias-img > img:hover {
        cursor: pointer;
        filter: contrast(75%) grayscale(100%); }

.page-movie--bloc-header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  padding: 4px 0;
  text-align: center;
  font-size: 24px;
  color: black;
  background-color: #666; }

.page-movie--bloc-param {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 24px;
  transform: translateY(-50%); }
  .page-movie--bloc-param:hover {
    cursor: pointer;
    opacity: 0.6; }

.page-movie--bloc-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px; }

/* Page Parameters Style
***************************************************/
div h2 {
  display: block;
  background-color: rgba(0, 0, 0, 0.5); }

fieldset legend {
  font-weight: bold; }

#password, #mail {
  border: 2px black solid;
  border-radius: 10px; }
  #password .submit, #mail .submit {
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3); }

/*****************************************************************/
/* SMall devices SM (tablets, 768px and up)                      */
/*****************************************************************/
@media screen and (min-width: 768px) {
  .navbar-brand:after {
    content: "SM";
    margin-left: 10px;
    padding: 2px 5px;
    background: red;
    color: white; } }

/*****************************************************************/
/* MeDium devices MD (desktops, 992px and up)                    */
/*****************************************************************/
@media screen and (min-width: 992px) {
  .navbar-brand:after {
    content: "MD";
    margin-left: 10px;
    padding: 2px 5px;
    background: orange;
    color: white; }
  .page-movie--notes-source-bloc--name {
    min-height: 30px; }
  .page-movie--reviews-most {
    justify-content: center; }
  .page-movie--reviews-container,
  .page-movie--trivias-container {
    padding-left: 7px;
    padding-right: 7px; } }

/*****************************************************************/
/* LarGe devices LG (large desktops, 1200px and up)              */
/*****************************************************************/
@media screen and (min-width: 1200px) {
  .navbar-brand:after {
    content: "LG";
    margin-left: 10px;
    padding: 2px 5px;
    background: yellow;
    color: black; }
  .page-movie--casting-actors {
    margin-bottom: 6px;
    overflow-x: auto; }
    .page-movie--casting-actors-container {
      width: 100%; }
    .page-movie--casting-actors--bloc {
      float: initial;
      margin-bottom: 10px; }
  .page-movie--notes {
    display: block; }
    .page-movie--notes-moyenne {
      padding-top: 15px;
      padding-bottom: 15px; } }
