<header class="page-casting-header">
	Casting et Équipes
	<img id="page-casting-param" class="page-casting-header-param" src="../images/settings.svg">
</header>

<div class="container">
	<div class="col-xs-12 col-md-6 page-casting-actors page-casting-list">
		<h3 class="page-casting-list-title">Acteurs et Actrices</h3>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 page-casting-tech page-casting-list">
		<h3 class="page-casting-list-title">Équipe technique</h3>
			<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 page-casting-tech page-casting-list">
		<h3 class="page-casting-list-title">Production</h3>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
		<div class="col-xs-12 page-casting-list-row">
			<div class="page-casting-list-row--photo">
				<img src="../images/Michael_Stuhlbarg.jpg">
			</div>
			<span class="page-casting-list-row--role">Rôle</span>
			<strong class="page-casting-list-row--name">Prénom Nom</strong>
			<button class="page-casting-list-row--source page-casting-list-row--source1 btn">Allociné</button>
		</div>
</div>
</div>