<div class="wrapper">
<div class="container"> 	  		    
	<div class="logging row">
		<a ng-href="#/logged"><button class="submit btn col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-lg-offset-1 col-lg-4">Inscription</button></a>
		<a ng-href="#/logged"><button class="submit btn col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-lg-offset-1 col-lg-4">Connexion </button></a>
	</div>

	<div class="row">
		<section>
			<article>
				<div class="preview col-xs-12 col-sm-4 col-lg-3">
				<p>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.</p>				
				</div>
			</article>
		</section>
			<section>
			<article>
				<div class="preview col-xs-12 col-sm-4 col-lg-offset-1 col-lg-3">
				<p>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.</p>
				
				</div>
			</article>
		</section>
		<section>
			<article>
				<div class="preview col-xs-12 col-sm-4 col-lg-offset-1 col-lg-3">
				<p>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.</p>			
				</div>
			</article>
		</section>
	</div>	
	<div class="logging_bot row">   
		<a ng-href="#/logged"><button type="submit" value="Inscription" class="submit btn col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-lg-offset-1 col-lg-4">Inscription</button></a>
		<a ng-href="#/logged"><button type="submit" class="submit btn col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-lg-offset-1 col-lg-4">Connexion</button></a>	    	    
	</div>	
</div>     
</div>
