<!-- Ce fichier HTML est le template de la page d'accueil :
Le code ci-dessous affiche une liste de films grâce à la balise ng-repeat.
Pour afficher une propriété du film il faut utliser la variable movie, ex : movie.title.
Ce template est associé à un controleur nommé main (voir app.js).
Ce fichier modifié/complété pour construire n'importe quelle structure html/css.
-->
<!DOCTYPE html>

<html>

  <head>
    <title>Accueil</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

<div class="container page-home-logged">
	<div class="row"><h2 class="col-xs-12 col-lg-6">Films à l'affiche</h2></div>
	<div class="page-home-logged--movie">
		<div class="page-home-logged--movie--bloc">
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
		</div>
	</div>

	<div class="row"><h2 class="col-xs-12 col-lg-6">Suggestions de films</h2></div>
	<div class="page-home-logged--movie">
		<div class="page-home-logged--movie--bloc">
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>
		</div>
	</div>

	<div class="row"><h2 class="col-xs-12 col-lg-6">Derniers films consultés</h2></div>
	<div class="page-home-logged--movie">
		<div class="page-home-logged--movie--bloc">
			<a ng-href="#/movie/284052"><img class="page-home-logged--movie--bloc-photo" src="../images/Doctor_strange.jpg" /></a>

		</div>
	</div>
</div>