<!-- Cette vue affiche une fiche descriptive pour le film sélectionné.
Le controleur moveCtrl contient une propriété movie qui est le film selectionné.
Si il manque des propriétés/données, elles peuvent être inscrite en dur dans le code HTML. 
Ex : utiliser du lorem ipsum pour les commentaires.
-->

<header class="page-movie-header" style="background-image:url({{ movieCtrl.getImageURL(movieCtrl.movie.images.backdrops[4],'original') }})">
	<div class="page-movie-header--titles">
		<h1 class="page-movie-header--title-vf" ng-bind="movieCtrl.movie.title"></h1>
		<h3 class="page-movie-header--title-vo" ng-bind="movieCtrl.movie.original_title"></h3>
	</div>
</header>

<div class="container page-movie"> 

	<div class="col-xs-12 col-lg-6 no-gutters page-movie--top">
		<div class="page-movie--poster">
			<img ng-src="{{movieCtrl.getPosterURL('w342')}}" />
			<img id="poster-movie--ba-player" src="../images/play-button.svg" />
		</div>
		<div class="page-movie--essentials">
			<p> de <em>Scott Derrickson</em></p>
			<!-- <p>Scénaristes</p> -->
			<p><span ng-repeat="genre in movieCtrl.movie.genres"><em>{{genre.name}}</em></span></p>
			<p><em>{{movieCtrl.movie.runtime}}</em> minutes</p>
			<p><span><em>{{movieCtrl.movie.release_date | date: 'd MMM y'}}</em> <small>(US)</small></span></p>
			<p>Avec <span><em>Benedict Cumberbatch</em></span><span><em>Tilda Swinton</em></span><span><em>Benedict Wong</em></span> ...</p>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6 page-movie--notes no-gutters">
		<div class="col-xs-3 col-lg-12 page-movie--notes-moyenne">7.8</div>
		<div class="col-xs-9 col-lg-12 page-movie--notes-sources no-gutters">
			<div class="col-xs-4 page-movie--notes-source page-movie--notes-source1">
				<div class="page-movie--notes-source-bloc">
					<div class="page-movie--notes-source-bloc--name">Sens Critique</div>
					<div class="page-movie--notes-source-bloc--note">8.1</div>
				</div>
			</div>
			<div class="col-xs-4 page-movie--notes-source page-movie--notes-source2">
				<div class="page-movie--notes-source-bloc">
					<div class="page-movie--notes-source-bloc--name">Rotten Tomatoes</div>
					<div class="page-movie--notes-source-bloc--note">19%</div>
				</div>
			</div>
			<div class="col-xs-4 page-movie--notes-source page-movie--notes-source3">
				<div class="page-movie--notes-source-bloc">
					<div class="page-movie--notes-source-bloc--name">Allociné</div>
					<div class="page-movie--notes-source-bloc--note">3.9</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="col-xs-12 no-gutters page-movie--descri">
		<div class="page-movie--descri-text" ng-bind="movieCtrl.movie.overview"></div>
		<div class="page-movie--descri-sources">
			<div class="page-movie--descri-source page-movie--descri-source1">Sens Critique</div>
			<div class="page-movie--descri-source page-movie--descri-source2">Rotten Tomatoes</div>
			<div class="page-movie--descri-source page-movie--descri-source3">Allociné</div>
			<a ng-href="#/parameters"><div class="page-movie--descri-source-param">
				<img id="poster-movie--descri-param" src="../images/settings.svg" />
			</div></a>
		</div>
	</div>

	<div class="col-xs-12 no-gutters page-movie--casting">
		<div class="page-movie--bloc-header page-movie--casting-header">Casting<a ng-href="#/parameters"><img id="poster-movie--casting-param" class="page-movie--bloc-param" src="../images/settings.svg"></a></div>
		<div class="page-movie--casting-actors">
			<div class="page-movie--casting-actors-container">
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Benedict_Cumberbatch.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Benedict Cumberbatch</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Tilda_Swinton.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Tilda Swinton</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Benedict_Wong.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Benedict Wong</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Mads_Mikkelsen.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Mads Mikkelsen</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Rachel_Mc_Adams.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Rachel Mc Adams</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Chris_Hemsworth.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Chris Hemsworth</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Scott_Adkins.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Scott Adkins</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Benjamin_Bratt.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Benjamin Bratt</div>
				</div>
				<div class="page-movie--casting-actors--bloc">
					<img class="page-movie--casting-actors--bloc-photo" src="../images/Michael_Stuhlbarg.jpg" />
					<div class="page-movie--casting-actors--bloc-name">Michael Stuhlbarg</div>
				</div>
			</div>
		</div>
		<a ng-href="#/movie/{{movieCtrl.movie.id}}/casting"><button class="page-movie--bloc-more page-movie--casting-more btn">Casting et équipe complets</button></a>
	</div>

	<div class="col-xs-12 no-gutters page-movie--reviews page-movie--critiques">
		<div class="page-movie--bloc-header page-movie--reviews-header">Critiques<a ng-href="#/parameters"><img id="page-movie--reviews-param" class="page-movie--bloc-param" src="../images/settings.svg"></a></div>
		<div class="col-xs-12 col-md-6 no-gutters">
			<div class="page-movie--reviews-most age-movie--reviews-most--high"><img src="../images/plus.svg">La critique positive la + populaire</div>
			<div class="page-movie--reviews-container">
				<div class="page-movie--reviews-bloc">
					<h4 class="page-movie--reviews-bloc--title">Lorem Ipsum Dolorem</h4>
					<div class="page-movie--reviews-bloc--text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat erat, porttitor eu erat eu, auctor ornare orci. Integer ante dui, rhoncus et ex a, sagittis ultrices leo. Vivamus posuere eget urna eget ultrices. Vivamus nulla leo, faucibus a tincidunt et, mattis at nunc. Nunc euismod imperdiet imperdiet..
					</div>
				</div>
				<div class="page-movie--reviews-details">
					<img class="page-movie--reviews-details--photo" src="../images/Chris_Hemsworth.jpg" />
					<div class="page-movie--reviews-details--texts">
						PseuDOless (4/5) - 1. nov. 16
					</div>
					<button class="page-movie--reviews-details--source btn">Allociné</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 no-gutters">
			<div class="page-movie--reviews-most age-movie--reviews-most--low"><img src="../images/minus.svg">La critique negative la + populaire</div>
			<div class="page-movie--reviews-container">
				<div class="page-movie--reviews-bloc">
					<h4 class="page-movie--reviews-bloc--title">Lorem Ipsum Dolorem</h4>
					<div class="page-movie--reviews-bloc--text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat erat, porttitor eu erat eu, auctor ornare orci. Integer ante dui, rhoncus et ex a, sagittis ultrices leo. Vivamus posuere eget urna eget ultrices. Vivamus nulla leo, faucibus a tincidunt et, mattis at nunc. Nunc euismod imperdiet imperdiet..
					</div>
				</div>
				<div class="page-movie--reviews-details">
					<img class="page-movie--reviews-details--photo" src="../images/Chris_Hemsworth.jpg" />
					<div class="page-movie--reviews-details--texts">
						PseuDOless (4/5) - 1. nov. 16
					</div>
					<button class="page-movie--reviews-details--source btn">Allociné</button>
				</div>
			</div>
		</div>
		<button class="page-movie--reviews-more page-movie--bloc-more btn">Toutes les critiques</button>	
	</div>

	<div class="col-xs-12 no-gutters page-movie--reviews page-movie--com">
	<div class="page-movie--bloc-header page-movie--reviews-header">Commentaires<a ng-href="#/parameters"><img id="page-movie--com-param" class="page-movie--bloc-param" src="../images/settings.svg"></a></div>
		<div class="col-xs-12 no-gutters col-md-6 page-movie--reviews-container" ng-repeat="review in movieCtrl.movie.reviews.results">
			<div class="page-movie--reviews-bloc"  ng-bind="review.content | limitTo:140">
			</div>
			<div class="page-movie--reviews-details">
				<img class="page-movie--reviews-details--photo" src="../images/Chris_Hemsworth.jpg" />
				<div class="page-movie--reviews-details--texts">
					{{review.author}} (4/5) - 1. nov. 16
				</div>
				<button class="page-movie--reviews-details--source btn">Allociné</button>
			</div>	
		</div>
		<button class="page-movie--reviews-more page-movie--bloc-more btn">Tous les commentaires</button>
	</div>
	
	<div class="col-xs-12 no-gutters page-movie--trivias">
	<div class="page-movie--bloc-header page-movie--trivias-header">Commentaires<a ng-href="#/parameters"><img id="page-movie--trivias-param" class="page-movie--bloc-param" src="../images/settings.svg"></a></div>
		<div class="col-xs-12 col-md-6 no-gutters page-movie--trivias-container">
			<h4 class="page-movie--trivias--title">Lorem Ipsum Dolorem</h4>
			<div class="page-movie--trivias--text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat erat, porttitor eu erat eu, auctor ornare orci. Integer ante dui, rhoncus et ex a, sagittis ultrices leo.
			</div>
			<button class="page-movie--trivias--source btn">Allociné</button>
		</div>
		<div class="col-xs-12 col-md-6 no-gutters page-movie--trivias-container">
			<h4 class="page-movie--trivias--title">Lorem Ipsum Dolorem</h4>
			<div class="page-movie--trivias--text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat erat, porttitor eu erat eu, auctor ornare orci. Integer ante dui, rhoncus et ex a, sagittis ultrices leo.
			</div>
			<button class="page-movie--trivias--source btn">Allociné</button>
		</div>
		<div class="col-xs-12 col-md-6 no-gutters page-movie--trivias-container">
			<h4 class="page-movie--trivias--title">Lorem Ipsum Dolorem</h4>
			<div class="page-movie--trivias--text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat erat, porttitor eu erat eu, auctor ornare orci. Integer ante dui, rhoncus et ex a, sagittis ultrices leo.
			</div>
			<button class="page-movie--trivias--source btn">Allociné</button>
		</div>
		<button class="page-movie--trivias-more page-movie--bloc-more btn">Tous les trivias</button>
	</div>

	<div class="col-xs-12 no-gutters page-movie--medias">
	<div class="page-movie--bloc-header page-movie--medias-header">Médias<a ng-href="#/parameters"><img id="page-movie--medias-param" class="page-movie--bloc-param" src="../images/settings.svg"></a></div>
		<div class="col-xs-6 col-sm-4 col-lg-3 no-gutters page-movie--medias-img" ng-repeat="image in movieCtrl.movie.images.backdrops">
			<img  ng-src="{{ movieCtrl.getImageURL(image,'w300') }}"/>
		</div>
	</div>
</div>