<!DOCTYPE html>

<html>

  <head>
    <title>Paramètres</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="container">
  	<div class="row"><h2 class="paratitre col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">Parametre du compte</h2></div>
    <form class="row">
	    <div class="row"><label class="col-xs-12 col-sm-offset-3 col-sm-5 col-lg-offset-3 col-lg-4">Changer de mot de passe</label></div>
	    <div class="row"><input type="password" id="password" name="password" class="col-xs-11 col-sm-offset-3 col-sm-5 col-lg-offset-3 col-lg-4"/> <input type="submit" value="ok" class="submit"/></div>
	</form>
	     <form class="row">
	    <div class="row"><label class="col-xs-12 col-sm-offset-3 col-sm-5 col-lg-offset-3 col-lg-4">Changer d'email</label></div>
	    <div class="row"><input type="mail" id="mail" name="mail" class="col-xs-11 col-sm-offset-3 col-sm-5 col-lg-offset-3 col-lg-4"/> <input type="submit" value="ok" class="submit"/></div>
     </form>
    <div class="row"><h2 class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">Parametre de filtres</h2></div>
    <form class="paramfilter row">    
	    <fieldset class="paramnotes row col-xs-12 col-sm-6 col-lg-offset-2 col-lg-4">
	    	<legend>Moyenne de notes</legend>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes" /><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes" /><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes" /><label>Rotten Tomatoes</label></div>
	    </fieldset>
	    <fieldset class="paramdesc row col-xs-12 col-sm-6  col-lg-4">
	    	<legend>Description</legend>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Rotten Tomatoes</label></div>
	    </fieldset>
	        <fieldset class="paramcast row col-xs-12 col-sm-6 col-lg-offset-2 col-lg-4">
	    	<legend>Casting</legend>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Rotten Tomatoes</label></div>
	    	</fieldset>
		    <fieldset class="paramcrit row col-xs-12 col-sm-6 col-lg-4">
	    	<legend>Critiques</legend>
	    	<div class="col-xs-12 col-sm-12 col-lg-10"><label>Nombre de critiques</label><input type="text" size="3" class="paramvalue" name="paramvalue"/></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Rotten Tomatoes</label></div>
	    </fieldset>  
	        <fieldset class="paramcomm row col-xs-12 col-sm-6 col-lg-offset-2 col-lg-4">
	    	<legend>Commentaires</legend>
	    	<div class="col-xs-12 col-sm-12 col-lg-12"><label>Nombre de commentaires</label><input type="text" size="3" class="paramvalue" name="paramvalue"/></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Rotten Tomatoes</label></div>
	    </fieldset>
	        <fieldset class="paramtriv row col-xs-12 col-sm-6 col-lg-4">
	    	<legend>Trivias</legend>
	    	<div class="col-xs-12 col-sm-12 col-lg-12"><label>Nombre de trivias</label><input type="text" size="3" class="paramvalue" name="paramvalue"/></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Allocine</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>SensCritique</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>IMDb</label></div>
	    	<div class="col-xs-6 col-sm-6 col-lg-6"><input type="checkbox" class="checkboxes" name="notes"/><label>Rotten Tomatoes</label></div>
	    </fieldset>
	    <div class="row"></div>
	    <div class="row"><input type="submit" class="col-xs-offset-5 col-xs-2 col-sm-offset-5 col-sm-2 col-lg-offset-5 col-lg-2" value="Enregistrer"/></div>
    </form>
  </body>

</html>